<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form style="height: 100%; flex-flow: column; display: flex;" action="/post" method="post">
            <h1>Edit {{ shortpath}}</h1>
            <button type="submit">Stage To Preview</button>
            <input type="text" hidden name="csrf" value="{{ csrf }}">
            <input type="text" hidden name="path" value="{{ shortpath }}">
            <textarea style="width: 100%; white-space: pre-wrap; flex-grow: 1;" name="content">{{content | escape}}</textarea>
        </form>
    </body>
</html>
