* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin: auto;
    max-width: 800px;
    line-height: 1.4rem;
    background-color: #291D05;
}

body > * + * {
    margin-top: 1rem;
}

header, main, footer {
    padding: 1rem;
    background-color: #FFDC96;
    border-radius: 0.2rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1.5rem 0rem;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h3 {
    font-size: 1rem;
    line-height: 1rem;
}

h4, h5, h6 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-decoration: underline overline line-through;
}

header > .nav-title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

header > * + * {
    padding-top: 1rem;
}

footer {
    font-size: 0.8rem;
    font-style: italic;
}

/* Navigation Links */

#header li {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
}

.nav-row {
    display: flex;
}

.nav-fill {
    white-space: nowrap;
    overflow-x: scroll;
    display: inline-block
}

#header ul li + li:before {
    content: " | "
}

/* Lists */

main ul, ol {
    margin-left: 2rem;
}

/* Table of Contents */

#TableOfContents {
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    border-left: 1rem solid #B99141;
    background-color: #FBCF76;
}

#TableOfContents:before {
    content: "Table of Contents";
}

#TableOfContents > ul {
    margin-left: 0rem;  /* This overrides the property from main ul */
}

#TableOfContents > ul > li {
    list-style: none;
    margin: 0rem;
}

#TableOfContents ul ul {
    list-style: outside;
    margin-left: 2rem;
}

/* Links */

a {
    color: #261758;
}


/* Definition lists */

dl {
    margin: 1rem;
    padding: 1rem;
    border-left: 1rem solid #B99141;
    background-color: #FBCF76;
}

dt {
    font-weight: bold;
    display: inline;
}

dt:after {
    content: ":";
}

dd {
    padding: 1rem;
}

/* Blockquotes */

blockquote {
    margin: 1rem;
    padding: 1rem;
    border-left: 1rem solid #B99141;
    background-color: #FBCF76;
}

cite:before {
    content: "—";
}

/* Code styling */

code, pre {
    font-family: 'Courier New', Courier, monospace;
    color: #85E2D3;
    background-color: #12493F;
}
code {
    padding: 0.2rem;
}
pre {
    padding: 1rem;
    overflow: scroll;
}

/* Horizontal rule */

hr {
    border: 2px solid #291D05;
}