<header id="header">
    <span class="nav-title"><a href="/">Aggressively Paraphrasing Me</a></span>
    <nav>
        <div class="nav-row">
            <span class="nav-heading">Sections: </span>
            <ul class="nav-fill">
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/posts/">Blog</a></li>
            </ul>
        </div>

        <div class="nav-row">
            <span class="nav-heading">Topics: </span>
            <ul class="nav-fill">
                {{ range .Site.Taxonomies.tags.ByCount }}
                <li><a href="{{.Page.RelPermalink}}">{{.Page.Title}} ({{len .Page.Pages}})</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
