<header>
    <span class="nav-title">Aggressively Paraphrasing Me</span>
    <nav>
        <ul>
            <span class="nav-heading">Wikis:</span>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="">Reading List</a></li>
            <li><a href="">Recipes</a></li>
        </ul>
        <ul>
            <span class="nav-heading">Notes:</span>
            <li><a href="">Anime</a></li>
            <li><a href="">Music</a></li>
            <li><a href="">Coding</a></li>
            <li><a href="">Drawing</a></li>
            <li><a href="">Languages</a></li>
        </ul>
    </nav>
</header>
